# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os


# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv('output_data_file')
weather_df

,Unnamed: 0,City,Country,Latitude,Longitude,High Temp,Humidity,Cloudiness,Wind Speed
0,0,Lompoc,US,34.64,-120.46,55.40,76,1,4.29
1,1,Hasaki,JP,35.73,140.83,55.40,47,20,10.29
2,2,Ambilobe,MG,-13.20,49.05,74.80,92,95,3.24
3,3,Busselton,AU,-33.65,115.33,90.00,27,100,6.89
4,4,East London,ZA,-33.02,27.91,69.85,81,70,13.00
5,5,Albany,US,42.60,-73.97,36.00,69,75,16.11
6,6,Punta Arenas,CL,-53.15,-70.92,51.80,81,90,16.11
7,7,Puerto Ayora,EC,-0.74,-90.35,78.64,82,68,4.47
8,8,Puerto Cabezas,NI,14.04,-83.39,73.56,94,0,3.76
9,9,Jasper,US,37.20,-94.35,37.99,86,1,5.19
10,10,Olinda,BR,-8.01,-34.86,82.40,74,40,9.17
11,11,Kolondieba,ML,11.09,-6.89,70.05,15,4,5.99
12,12,Danielskuil,ZA,-28.19,23.54,63.68,59,0,11.41
13,13,Saint George,US,37.10,-113.58,46.40,38,1,3.36
14,14,Korla,CN,41.76,86.15,26.01,80,69,1.01
15,15,Vryburg,ZA,-26.96,24.73,63.61,79,0,8.01
16,16,Constitucion,CL,-35.33,-72.42,56.32,91,0,5.39
17,17,Coyhaique,CL,-45.58,-72.07,59.00,77,100,4.70
18,18,Lebu,CL,-37.62,-73.65,57.16,92,0,3.89
19,19,New Norfolk,AU,-42.78,147.06,68.00,77,75,14.99
20,20,La Ronge,CA,55.10,-105.28,-14.80,56,20,12.75
21,21,Floridablanca,CO,7.06,-73.09,73.40,88,40,3.36
22,22,Provideniya,RU,64.38,-173.30,3.20,84,90,15.66
23,23,Tasiilaq,GL,65.61,-37.64,23.00,85,100,16.11
24,24,Khovd,MN,48.01,91.64,12.25,69,100,3.71
25,25,Cabo San Lucas,MX,22.89,-109.91,64.40,67,75,10.29
26,26,Jamestown,US,42.10,-79.24,33.80,80,90,13.87
27,27,Ostrovnoy,RU,68.05,39.51,30.99,86,100,28.72
28,28,Tucurui,BR,-3.77,-49.67,74.61,95,62,4.88
29,29,Marawi,PH,8.00,124.29,81.00,75,1,5.01
30,30,Mataura,NZ,-46.19,168.86,62.01,79,78,10.00
31,31,Siwah,EG,29.20,25.52,53.62,54,0,7.54
32,32,Sioux Lookout,CA,50.10,-91.92,24.80,68,90,10.29
33,33,Yumen,CN,40.28,97.20,34.56,26,20,21.43
34,34,Talnakh,RU,69.49,88.40,3.20,84,40,35.79
35,35,Ushuaia,AR,-54.80,-68.30,53.60,71,75,8.05
36,36,Luau,AO,-10.71,22.22,64.67,98,100,2.89
37,37,Massaguet,TD,12.48,15.44,60.94,19,57,13.18
38,38,Awjilah,LY,29.11,21.29,54.91,49,0,6.17
39,39,San Patricio,MX,19.22,-104.70,77.00,73,5,11.41
40,40,Taltal,CL,-25.40,-70.48,60.31,87,6,1.41
41,41,Dunedin,NZ,-45.87,170.50,73.00,59,100,1.01
42,42,Hua Hin,TH,12.57,99.96,84.20,58,20,3.36
43,43,Belyy,RU,55.84,32.94,32.02,96,100,10.58
44,44,Tibati,CM,6.47,12.63,62.78,21,84,5.21
45,45,Tanem,NO,63.31,10.43,35.60,81,75,13.87

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key = g_key)

lat_long = weather_df[['Latitude', 'Longitude']]
humidity = weather_df['Humidity']

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(lat_long, weights=humidity, dissipating=False, max_intensity=300, point_radius=5 )
fig.add_layer(heat_layer)

In [4]:
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
weather_df.head()

,Unnamed: 0,City,Country,Latitude,Longitude,High Temp,Humidity,Cloudiness,Wind Speed
0,0,Lompoc,US,34.64,-120.46,55.40,76,1,4.29
1,1,Hasaki,JP,35.73,140.83,55.40,47,20,10.29
2,2,Ambilobe,MG,-13.20,49.05,74.80,92,95,3.24
3,3,Busselton,AU,-33.65,115.33,90.00,27,100,6.89
4,4,East London,ZA,-33.02,27.91,69.85,81,70,13.00

In [6]:
#A max temperature lower than 80 degrees but higher than 70.
#Wind speed less than 10 mph.
#Zero cloudiness.
#Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.


vacay_df = weather_df.loc[(weather_df['High Temp'] < 80 ) & (weather_df['High Temp'] > 70 ) 
                          & (weather_df['Wind Speed'] < 10 ) & (weather_df['Cloudiness'] == 0 )].dropna()



vacay_df

,Unnamed: 0,City,Country,Latitude,Longitude,High Temp,Humidity,Cloudiness,Wind Speed
8,8,Puerto Cabezas,NI,14.04,-83.39,73.56,94,0,3.76

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = vacay_df.copy()

hotel_df['Hotel Name'] = ""

hotel_df

,Unnamed: 0,City,Country,Latitude,Longitude,High Temp,Humidity,Cloudiness,Wind Speed,Hotel Name
8,8,Puerto Cabezas,NI,14.04,-83.39,73.56,94,0,3.76,

In [8]:
# geocoordinates

params = {
   
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}


for index, row in hotel_df.iterrows():
    lat = row['Latitude']
    long = row['Longitude']
    params["location"] = f"{lat},{long}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    response = requests.get(base_url, params=params)
    
    response_json = response.json()
    
    try:
        hotel_df.loc[index,"Hotel Name"] = response_json["results"][0]["name"]
    except (KeyError, IndexError):
        Print("None")
    

# set up a parameters dictionary


# base url

hotel_df
    

# run a request using our params dictionary

,Unnamed: 0,City,Country,Latitude,Longitude,High Temp,Humidity,Cloudiness,Wind Speed,Hotel Name
8,8,Puerto Cabezas,NI,14.04,-83.39,73.56,94,0,3.76,Hotel Caribe

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'narrowed_city_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display Map